// write only variable css here. import this variable.scss file in base.scss

// app theme 
$app-color:#576b8e;
$app-color-shade:#cbb9f3;
//Color codes
$green-color:#008644;
$white: #ffffff;
$red-color:#ff0000;
$gray-color:#9b9b9b;
// font families
$sans-serif: 'sans-serif';

//font-sizes
$font-40:40px;
$font-30:30px;
$font-28: 28px;
$font-26: 26px;
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
$background-none: none;
$box-shadow-none: none;
$border-none: none;
$padding-left-none: 0;
$padding-right-none: 0;
$list-style-type-none: none;
$text-center: center;
$padding-bottom-10:10px;
$padding-bottom-20:20px;
$padding-bottom-30:30px;
$padding-bottom-40:40px;
$padding-top-10:10px;
$padding-top-20:20px;
$padding-top-30:30px;
$padding-top-40:40px;
$padding-right: 15px;